*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

.hero{
    height:100vh;
    background:
        linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
        url("gambar2.webp");
    background-size:cover;
    background-position:center;
    position:relative;
}

.navbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:transparent;
    transition:.4s;
}

.navbar:hover{
    background:white;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
    transition:.4s;
}

.nav-menu{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-menu a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.4s;
}

.nav-menu a:hover{
    color:#0077b6;
}

.navbar:hover .logo{
    color:#1d3557;
}

.navbar:hover .nav-menu a{
    color:#333;
}

.hero-content{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero-content h1{
    font-size:85px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
}

.explore{
    background:#f5f5f5;
    padding:0 20px 70px;
    margin-top:-70px;
    position:relative;
    z-index:2;
}

.explore-box{
    max-width:1000px;
    margin:auto;
    background:white;
    padding:45px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.explore-box h2{
    font-size:40px;
    color:#1d3557;
    margin-bottom:20px;
}

.explore-box p{
    font-size:18px;
    color:#555;
    line-height:1.8;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:14px 35px;
    background:#0077b6;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.3s;
}

.btn:hover{
    background:#005f8d;
}
.destinasi{

    padding:80px 10%;
    background:#f5f5f5;

}

.judul{

    text-align:center;
    margin-bottom:40px;

}

.swiper{

    width:100%;
    padding-bottom:60px;

}

.swiper-slide{

    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 20px rgba(0,0,0,.15);

}

.swiper-slide img{

    width:100%;
    height:280px;
    object-fit:cover;

}

.swiper-slide h3{

    padding:20px;

}

.swiper-slide p{

    padding:0 20px 20px;

}

.swiper-slide a{

    display:inline-block;
    margin:20px;
    padding:12px 25px;
    background:#0F766E;
    color:white;
    text-decoration:none;
    border-radius:30px;

}
/* ==========================
   SWIPER NAVIGATION
========================== */

.swiper-button-next,
.swiper-button-prev{
    color:#0F766E;
    width:50px;
    height:50px;
    background:#fff;
    border-radius:50%;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size:22px;
    font-weight:bold;
}

/* ==========================
   PAGINATION
========================== */

.swiper-pagination{
    margin-top:20px;
}

.swiper-pagination-bullet{
    width:12px;
    height:12px;
    background:#999;
    opacity:1;
}

.swiper-pagination-bullet-active{
    background:#0F766E;
}

/* ==========================
   ANIMASI CARD
========================== */

.swiper-slide{
    transition:0.4s ease;
}

.swiper-slide:hover{
    transform:translateY(-10px);
}

.swiper-slide a:hover{
    background:#09564F;
}

@media (max-width:1024px){

    .hero-content h1{
        font-size:60px;
    }

    .hero-content p{
        font-size:18px;
    }

}

@media (max-width:768px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-menu{
        flex-direction:column;
        text-align:center;
        gap:15px;
    }

    .hero-content h1{
        font-size:45px;
    }

    .hero-content p{
        width:90%;
        font-size:16px;
    }

    .explore-box{
        padding:30px;
    }

    .explore-box h2{
        font-size:30px;
    }

    .explore-box p{
        font-size:16px;
    }

    .judul h2{
        font-size:32px;
    }

}